<!-- wp:group {"tagName":"div","align":"full","className":"site-wrapper"} -->
<div class="wp-block-group alignfull site-wrapper">
    <!-- wp:group {"tagName":"div","className":"site-header-wrapper"} -->
    <div class="wp-block-group site-header-wrapper">
        <!-- wp:template-part {"slug":"header"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"tagName":"div","className":"main-content-wrapper"} -->
    <div class="wp-block-group main-content-wrapper">
        <!-- wp:group {"tagName":"div","className":"main-content"} -->
        <div class="wp-block-group main-content">
            <!-- wp:post-content /-->
        </div>
        <!-- /wp:group -->
    </div>
    <!-- /wp:group -->

    <!-- wp:group {"tagName":"div","className":"site-footer-wrapper"} -->
    <div class="wp-block-group site-footer-wrapper">
        <!-- wp:template-part {"slug":"footer"} /-->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:group -->
